/* style.css */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: calc(100% - 200px);
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  max-width: 300px;
}

.input-container input {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
